<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.benkesmith.realtimeaudio" xmlns="http://apache.org/cordova/ns/plugins/1.0" version="1.0.0">
    <name>benkesmith-realtime-audio</name>
    <description>A Cordova plugin for using realtime OpenAI speech recognition.</description>
    <license>Apache 2.0</license>
	<keywords>cordova,audio,speech,realtime,recognition</keywords>
    
	<js-module name="RealtimeAudio" src="www/RealtimeAudio.js">
        <clobbers target="RealtimeAudio" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        </config-file>

		<framework src="com.squareup.okhttp3:okhttp:4.12.0" />

        <source-file
            src="src/android/RealtimeAudio.java"
            target-dir="src/com/benkesmith/realtimeaudio"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RealtimeAudio">
                <param name="ios-package" value="RealtimeAudio" />
            </feature>
        </config-file>
		<source-file src="src/ios/RealtimeAudio.h" />
		<source-file src="src/ios/RealtimeAudio.m" />
    </platform>
</plugin>
